POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=postgres1234
POSTGRES_PORT=5432

SECRET_KEY=CHANGE_TO_SOMETHING_LONG_AND_SECURE
DJ_DEBUG=true

#ENV=production
ENV=staging

