{% extends "admin/login.html" %}
{% load static %}

{% block content %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webrtc-adapter/3.3.3/adapter.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
  <script type="text/javascript" src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <style>
      .error {
        background-color: rgb(173, 36, 36);
        width: 100%;
        text-decoration-line:underline;
      }
  </style>

<center>
    <h2><div id="login_massage" class="error"></div></h2>
</center>


  <div class="preview-container">
    <video id="preview" width="100%"></video>
  </div>

<script>
var app = new Vue({
  el: '#app',
  data: {
    scanner: null,
    activeCameraId: null,
    cameras: [],
    scans: []
  },
  mounted: function () {
    var self = this;
    self.scanner = new Instascan.Scanner({ video: document.getElementById('preview'), scanPeriod: 5 });
    self.scanner.addListener('scan', function (content, image) {

      $.ajax({
        method: 'post',
        url: '/admin/login/',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}",
          },
        data: {
            id: content,
        },
        success(data) {
          location.href = "/user/detail/" + content + "/"
          
        },
     })

      self.scans.unshift({ date: +(Date.now()), content: content });
    });
    Instascan.Camera.getCameras().then(function (cameras) {
      self.cameras = cameras;
      if (cameras.length > 0) {
        self.activeCameraId = cameras[0].id;
        self.scanner.start(cameras[0]);
      } else {
        console.error('No cameras found.');
      }
    }).catch(function (e) {
      console.error(e);
    });
  },
  methods: {
    formatName: function (name) {
      return name || '(unknown)';
    },
    selectCamera: function (camera) {
      this.activeCameraId = camera.id;
      this.scanner.start(camera);
    }
  }
});
</script>
{% endblock %}
