{% extends "admin/base_site.html" %}

{% block content %}
<style>

</style>
<section><table border="1">

   <caption>количество пришедших участников: {{ users.count }}</caption>
   <tr>
    <th>id</th>
    <th>name</th>
    <th>surname</th>
    <th>patronymic</th>
    <th>phone</th>
    <th>url</th>
   </tr>
    {% for user in users %}
    <tr><td>{{ user.id }}</td><td>{{ user.name }}</td><td>{{ user.surname }}</td><td>{{ user.patronymic }}</td><td>{{ user.phone }}</td><td><a href="{{user.get_user_url}}">detail</a></td></tr>
    {% endfor %}
  </table>

</section>
{% endblock %}
